nav {
  position: absolute;
  right: 0;
  bottom: 10%;
  left: 0;
  padding: 1rem;
  text-align: center;
  margin-left: 40%;
  cursor: pointer;
}

button#offset,
input#offset {
  overflow: hidden;
  width: 30px;
  height: 20px;
  cursor: text;
}
